.padre {
    width: 400px;
    height: 400px;
    background-color: blue;
}

.hijo {
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
    /* transition: transform 1s ease-in 2s; */
    animation: traslacion 4s ease-in-out infinite forwards alternate;
    
}

.padre:hover .hijo{
   transform: translateX(100%);
   background-color: blueviolet;
   animation-play-state: paused;
}

@keyframes traslacion {
    0% {
        background-color: antiquewhite;
        transform:  translateX(0%);
    }

    25% {
        background-color: aqua;
        transform: translateX(100%);
    }

    50% {
        background-color: brown;
        transform: translateX(100%) translateY(100%);
    }

    75% {
        background-color: rgb(139, 130, 0);
        transform: translateY(100%) translateX(0%);   
    }

    100% {
        background-color: antiquewhite;
        transform:  translateX(0%);
    }

   
}