h1 {
    color: brown;
    font-size: 4rem;
}

p {
    color: #1900ff;
    font-size: 2rem;
}

/* @media all and (max-width: 576px){ */


@media (min-width: 576px){
    h1 {
        color: green;
    }
}

@media (min-width: 995px) {
    h1 {
        color: blueviolet;
    }
}


@media (min-height: 300px), (min-width: 1100px) {
    p {
        color: yellow;
    }
}

@media (orientation: landscape) and (min-height: 400px) {
    h1 {
        color: rgb(223, 131, 108);
    }
}
