@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Oswald:wght@300&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #f2d1848e;
}
/* Contenedor principal */
.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 450px;
}

/* Conf botones general */
.botones {
    display: flex;
    align-self: flex-start;
    gap: 15px;
}

/* Conf botón Google */
.google-btn {
    display: flex;
    align-items: center;
    background-color: #1A73E7;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    padding: 2px;
    cursor: pointer;
}

.google-btn:hover{
    opacity: 0.8;
}

.google-btn picture {
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn picture img {
    width: 75%;
}

.google-btn span{
    color:white;
    font-weight: 400;
    padding: 40px;
}

/* Conf botón Twitter */
.twitter-btn {
    color: #bbb;
    background-color: #eee;
    border: none;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.twitter-btn picture img {
    width: 60%;
    filter: opacity(0.4) drop-shadow(0 0 0 rgb(163, 154, 154)); 
}

.twitter-btn:hover{
    background-color: #ddd;
}


/* Conf separador */
.separator{
    display: flex;
    width: 100%;
    gap: 15px;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color: #8b8b8b;
}

/* Config inputs Name - Username */
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

.section-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}


label{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label span {
    font-weight: 700;
   
}

.section-inputs label input {
    width:80%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}

label input {
    width: 90%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s, border  0,2s, box-shadow 0.2s;
}

label input:hover{
    background-color: white;
    border: 1px solid #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4b;
}

label input:focus{
    background-color: white;
    border: 1px solid #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4b;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
}

.checkbox-label input[type="checkbox"]{
    width: 20px;
}

.checkbox-label span {
    font-weight: 400;
}

.submit-btn {
    background-color: #f50080;
    color: white;
    text-align: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-weight:  700;
    font-size: 12pt;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.4;
}

